.intro{
    padding: 1rem 0;

    @media screen and (min-width:768px) {
        max-width: 700px;
        margin: auto;
    }   

    &__title{
        text-align: center;
        padding: 1.5rem;
        font-size: 2.8rem;
        font-family: "Bricolage Grotesque", sans-serif;

        @media screen and (min-width:768px) {
            padding: 0;
        }
    }

    &__form{
        width: 100%;

        @media screen and (min-width:768px) {
            display: flex;
            align-items: center;
            max-width: 550px;
            margin: 1.5rem auto 0.5rem;
            gap: 1rem;
        }

        &-input-wrapper{
            display: flex;
            background: hsl(243, 27%, 20%);
            align-items: center;
            padding: 0 1rem;
            border-radius: 0.5rem;
            margin-bottom: 0.7rem;

            @media screen and (min-width:768px) {
                margin: 0;
                width: 100%;
            }

            & i{
                color: hsl(250, 6%, 84%);
            }
        }

        &-input{
            width: 100%;
            border-radius: 0.5rem;
            border: none;
            background: transparent;
            padding: 0.8rem;
            font-size: 1.1rem;
            outline: none;
            color: hsl(250, 6%, 84%);

            @media screen and (min-width:768px) {
                width: 100%;
            }

            &::placeholder{
                color: hsl(250, 6%, 84%);
            }
        }

        &-button{
            width: 100%;
            padding: 0.8rem;
            font-size: 1.1rem;
            letter-spacing: 0.5px;
            border-radius: 0.5rem;
            border: none;
            background: hsl(233, 67%, 56%);
            color: white;
            font-weight: 400;
            font-family: "DM sans", sans-serif;

            @media screen and (min-width:768px) {
                width: fit-content;
            }
        }
    }
}